body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container{
  width: 33%;
  height: 700px;
  border: solid black 2px;
  float:left;
}

.example {
  color: #999;
  font-size: 12px;
}

.example b {
  text-decoration: underline;
  color: #777;
}

.example i {
  color: #af5d5d;
}